<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Register New User Here!!!</h1>

            <!-- display feedback -->
            <!-- <div *ngIf="feedback.error" class="container text-center" style="color: red;">{{feedback.error}}</div>
            <div *ngIf="feedback.success" class="container text-center" style="color: green;">{{feedback.success|json}}</div> -->
            
            <!-- creating form -->

            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                    <mat-label for="email">Email ID</mat-label>
                    <input id="email" formControlName="email" type="email" required matInput>
                    <!-- <input formControlName="email" [(ngModel)]="credentials.email" type="email" required matInput> -->
                    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="text-danger">
                        <div *ngIf="f.email.errors?.required" style="color: red;"><em>Email is required.</em></div>
                        <div *ngIf="f.email.errors?.email" style="color: red;"><em>Invalid email format.</em></div>
                    </div>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label for="username">Username</mat-label>
                    <!-- <input formControlName="username" [(ngModel)]="credentials.name" type="text" required matInput> -->
                    <input id="username" formControlName="name" type="text" required matInput>
                    <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="text-danger">
                        <div *ngIf="f.name.errors?.required" style="color: red;"><em>Username is required.</em></div> 
                        <!-- ?signifies safe navigation operator as the error might be null -->
                        <div *ngIf="f.name.errors?.minlength" style="color: red;"><em>Username must be at least 3 characters.</em></div>
                    </div>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label for="password">Password</mat-label>
                    <input formControlName="password" type="password" required matInput>
                    <!-- <input formControlName="password" [(ngModel)]="credentials.password" type="password" required matInput> -->
                    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="text-danger">
                        <div *ngIf="f.password.errors?.required" style="color: red;"><em>Password is required.</em></div>
                        <div *ngIf="f.password.errors?.minlength" style="color: red;"><em>Password must be at least 5 characters.</em></div>
                    </div>
                </mat-form-field>
                <div class="container text-center">
                    <button type="submit" mat-raised-button color="primary">Register</button>
                    <button style="margin-left: 10px;" type="reset" mat-raised-button color="accent">Reset</button>
                </div>
            </form>
            <!-- {{credentials | json}} -->
        </div>
    </div>
</div>