<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Login Here!!!</h1>
            <!-- display error -->
            <div *ngIf="feedback.error" class="container text-center" style="color: red;">{{feedback.error}}</div>
            <!-- creating form -->

            <form (ngSubmit)="onSubmit()">
                <mat-form-field class="full-width">
                    <mat-label>EMail</mat-label>
                    <input name="loginfields" [(ngModel)]="credentials.username" type="text" required matInput>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input name="loginfields" [(ngModel)]="credentials.password" type="password" required matInput>
                </mat-form-field>
                <div class="container text-center">
                    <button type="submit" mat-raised-button color="primary">Login</button>
                    <button style="margin-left: 10px;" type="reset" mat-raised-button color="accent">Reset</button>
                </div>

            </form>
            <!-- {{credentials | json}} -->
        </div>
    </div>
</div>